body:not(#currentDay) {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  overflow: scroll;
  height: 80px;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background: linear-gradient(to left, #38d630, #6c5ce7);
  color: black;
  border-bottom: 25px solid rgb(49, 41, 41);
}

.calendar-container {
  max-width: 1068px;
}

#currentDay {
  margin-top: 40px;
  font-size: 40px;
}

.description{
  text-align: center;
  white-space: pre-wrap;
  resize: none;
}

.hour-block{
  border-radius: 20px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #d3a7ff;
  color: #000000;
  border-top: 2px dashed #6b48d6;
  border-left: 2px solid #6b48d6;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  font-size: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #47a9c0;
  color: white;
}

.saveBtn i:hover {
  transition: all 0.3s ease-in-out;
}

#friday {
  margin-top: 30px;
  background-color: #6b48d6;
}

@media screen and (max-width: 768px), screen and (max-width: 575px) {
  .row {
    height: auto;
    margin-top: 20px;
  }

  .hour {
    padding-right: 17%;
  }

  .saveBtn {
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
  }

  textarea {
    min-height: 85px;
    border: 0;
  }
}